<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/css/MyCustomStyleSheet.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Intern_Admin_Collaboration</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Intern_Admin_Collaboration.styles.css" asp-append-version="true" />
    <style>
        .container-fluid, .navbar-brand {
            background-color: blueviolet;
            font-size:25px;
            padding: 15px;
            width: 100%;
            text-align: center;
            color: white;
            text-decoration-color: white;
            font-weight: bold;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        }

        .navbar-nav .nav-link {
            text-align: center;
            padding: 22px;
            
        }

        .nav-item {
           
            border: 1px solid blue;
            border-radius: 5px;
            background-color:cadetblue;
            padding-left:25px;
           
            padding-right: 25px;
            margin-left:10px;
            margin-right: 0px;
            margin-bottom: 10px;
        }

        .nav-link {
            color: red; /* Change the color as per your requirement */
        }

        .footer {
            background-color: dimgrey; /* Light blue background color */
            color: white; /* White text color */
            text-align: center; /* Center align text */
            height:50px;
        }


    </style>
</head>
<body>
    <div class="container-fluid">
        <a class="navbar-brand"><b>Intern Admin Collaboration</b></a>
    </div>
    <div>
        <div class="row">
            <nav style="margin-top:0px" class="navbar navbar-expand-sm bg-dark navbar-dark col-md-2">
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Dash" asp-action="Admindash">Dashboard</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Dash" asp-action="Admincreate">Create Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Add" asp-action="Addintern">Add Intern Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Approve" asp-action="Approveinterns">Intern Approved Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Approve" asp-action="Approveleave">Intern Leave Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="home" asp-action="AddInternSalary">Add Intern Salary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Task" asp-action="Addtask">Intern Task Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="home" asp-action="InternCertificateDetails">Intern Certificate Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="home" asp-action="EventsDashboard">Events Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="home" asp-action="AddEventDetails">Add Event Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="LogOut">Log Out</a>
                        </li>

                    </ul>
                </div>
            </nav>
           <div class="col-md-10">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            &copy; @DateTime.Now.Year - c co...
        </div>
    </footer>
</body>
</html>
