@{
    ViewData["Title"] = "Home Page";
}

<div class="bd-color">
<div class="text-center">
   
    <h1 class="display-5">Welcome to the Intern Admin Collaboration Dashboard</h1>
    <p>Manage and oversee all aspects of your internship program with ease.</p>
    <p>Streamline administrative tasks, track intern progress, and organize events effortlessly.</p>
    <p>Collaborate effectively with your team and ensure a successful internship experience for everyone involved.</p>

    <p>
            <img height="450" src="https://contentstatic.timesjobs.com/img/61752179/Master.jpg" />
    </p>

</div>


<div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5><button class="footer-button about-us-button">About Us</button></h5>
                <p class="about-us-text">
                    Intern Admin Collaboration is the central hub for efficiently managing and coordinating all aspects of your internship program. Our platform offers comprehensive
                    tools and features designed to streamline administrative tasks, track intern progress, and foster collaboration among team members.</p>
            </div>
            <div class="col-md-4">
                <h5><button class="footer-button contact-us-button">Contact Us</button></h5>
                <p>Address: Rajkot, Gujrat, India</p>
                    <p>Email:<a href="https://mail.google.com/mail/u/0/#inbox">harendratharu0@gmail.com</a></p>
                <p>Phone: +91 9956303809</p>
                <p>WhatsApp: +91 9956303809</p>
            </div>
            <div class="col-md-4">
                <h5><button class="footer-button follow-us-button">Follow Us</button></h5>
                <p>Stay updated with our latest news and updates by following us on social media:</p>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
                    </li>
                </ul>
                <p>Follow us for exclusive content, promotions, and behind-the-scenes updates!</p>
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">&copy; 2024 Intern Admin Collaboration. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>
</div>
<style>
.bd-color{
        background-color:antiquewhite;
}

.footer-button {
    background-color: blueviolet;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 1px 20px;
}

.about-us-button {
    background-color: teal;
    block-size:40px;
}

.contact-us-button {
    background-color: crimson;
        block-size: 40px;
}

.follow-us-button {
    background-color: darkorange;
        block-size: 40px;
}

.about-us-text {
     text-align: justify;
}

</style>