@model Intern_Admin_Collaboration.Models.DashboardModel;


@{
    ViewData["Title"] = "Adminupdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:5px;">
    <center>
        <h1><b>ADD UPDATE DETAILS</b></h1>
    </center>
</div>


<form method="post" class="row g-8">
    <div class="col-md-6">
        <div class="row mb-3">
            <div class="col-md-12">
                <label class="col-form-label" asp-for="id">Id</label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <label class="col-form-label" asp-for="name">Name</label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">
                <label class="col-form-label" asp-for="email">Email</label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <label class="col-form-label" asp-for="password">Password</label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <label class="col-form-label" asp-for="department">Department</label>
                <input asp-for="department" class="form-control" />
                <span asp-validation-for="department" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <label class="col-form-label" asp-for="mobile">Mobile</label>
                <input asp-for="mobile" class="form-control" />
                <span asp-validation-for="mobile" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="col-md-6" style="padding-left:70px;">
        <img src="https://www.nilaappsindia.com/Assets/images/System-admin.webp" alt="Professional People Working" class="img-fluid" style="height:550px;width:500px;padding-top:30px;">
    </div>


  
    <div class="col-md-12">
        <br />
        <button class="btn btn-primary" style="width:630px;" type="submit">UPDATE STATUS</button>
    </div>


</form>


<style>
    body {
        background-color: antiquewhite; /* Choose your desired background color */
    }
</style>
