
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

form {
    position: relative;
    width: 340px;
    height: 380px;
    padding: 25px;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="email"],
input[type="password"],
button {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }

label {
    display: block;
    margin-bottom: 10px;
}

.lock-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 14px;
}

    .lock-icon i {
        font-size: 45px;
    }


.login-text {
    font-size: 15px;
    text-align: center;
    margin-top: 50px;
}


