@model Intern_Admin_Collaboration.Models.ApprovedModel
@{
    ViewData["Title"] = "Editleave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editleave</h1>

<form method="post" class="row g-8">
    <div class="col-md-6">
        <div class="row mb-3">
            <div class="col-md-12">
                <label class="col-form-label" asp-for="id">Id</label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <label class="col-form-label" asp-for="firstname">FirstName</label>
                <input asp-for="firstname" class="form-control" />
                <span asp-validation-for="firstname" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">
                <label class="col-form-label" asp-for="lastname">LastName</label>
                <input asp-for="lastname" class="form-control" />
                <span asp-validation-for="lastname" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <label class="col-form-label" asp-for="department">Department</label>
                <input asp-for="department" class="form-control" />
                <span asp-validation-for="department" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <label class="col-form-label" asp-for="reason">Reason</label>
                <input asp-for="reason" class="form-control" />
                <span asp-validation-for="reason" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row mb-3">
            <div class="col-md-12">
                <label class="col-form-label" asp-for="start_date">Start Date</label>
                <input asp-for="start_date" type="date" class="form-control" />
                <span asp-validation-for="start_date" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <label class="col-form-label" asp-for="end_date">End Date</label>
                <input asp-for="end_date" type="date" class="form-control" />
                <span asp-validation-for="end_date" class="text-danger"></span>
            </div>
        </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <label class="col-form-label" asp-for="status">Status</label>
                    <input asp-for="status" class="form-control" />
                    <span asp-validation-for="status" class="text-danger"></span>
                </div>
        </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <label class="col-form-label" asp-for="applied_date">Applied Date</label>
                    <input asp-for="applied_date" type="date" class="form-control" />
                    <span asp-validation-for="applied_date" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <br />
            <button class="btn btn-primary" type="submit">UPDATE STATUS</button>
        </div>


</form>
